.error{
    color: #a94442;
}

.coa-map-level-1{
    font-weight: bold; 
    color: #0075ff;
}
.coa-map-level-2{
    color: #4f05a5;
    padding-left: 20px;
}
.coa-map-level-3{
    color: #6fa200;
    padding-left: 40px;
}
.coa-map-level-4{
    color: #fc011f;
    padding-left: 60px;
}
.coa-map-level-5{
    color: #222222;
    padding-left: 80px;
}

.page-loading{
    z-index: 99999;
}

.input-qty{
    width: 55px;
}